<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Burger Tracker</title>
  <link rel="icon" href="/images/krabby_patty.png">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/burgers">Burgers</a>
    </li>
    <li>
      <a href="/deals">Deals</a>
    </li>
    <li>
      <a href="/restaurants">Restaurants</a>
    </li>
  </ul>
</nav>
<%= yield %>
</body>
</html>