<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Burger Tracker</title>
  <link rel="icon" href="/images/krabby_patty.png">
</head>
<body>
<h1 align="center">Burger Tracker</h1>
<div class="nav">
  <ul>
    <li>
      <a href="/"><img src="/images/home.png" width="150" height="75"></a>
    </li>
    <li>
      <a href="/burgers"><img src="/images/burgers.png" width="150" height="75"></a>
    </li>
    <li>
      <a href="/deals"><img src="/images/deals.png" width="150" height="75"></a>
    </li>
    <li>
      <a href="/restaurants"><img src="/images/restaurant.png" width="150" height="75"></a>
    </li>
  </ul>
</div>
<%= yield %>
</body>
</html>