body {
  background-image: url('/images/cat.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}

.nav ul{
list-style: none;
background-color: none;
text-align: center;
padding:0;
margin: 0;
}

.nav li{
display: inline-block;
padding:0 30px 0 30px ;
}

img {
  border: 5px solid black;
  /* border: 0 none; */
}

.Homepage {
 text-align: center;
 background-color:#fff7e2;
 width: 80%;
 margin: 160px auto;
 opacity: 0.95;
 padding: 10px;
}

.dealpage {
 text-align: center;
 background-color:#fff7e2;
 width: 80%;
 margin: 80px auto;
 opacity: 0.95;
 padding: 10px;
}