<h1>Deals</h1>

<table>
  <tr>
    <th>Burger</th>
    <th></th>
    <th>Restaurant</th>
  </tr>
  <% for deal in @deals %>
  <tr>
    <td><%= deal.burger.name %></td>
    <td><%= deal.restaurant.name %></td>
  </tr>
  <% end %>
</table>