<div class="dealpage">
<h1>Deals</h1>
  <% @deals.each do |deal| %>
  <div>
    <p>Deal Name: <%= deal.name %></p>
    <p>Restaurant:<%= deal.restaurant.name %></p>
    <p>Burgers: <%= deal.burger.name%>

    </p>
    <p>Available Day: <%= deal.day.name %></p>
  </div>
<hr>
  <% end %>
<a href="/deals/new">Add A New Deal~</a>
</div>