<h1>Burgers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Restaurant</th>
  </tr>
  <% for burger in @burgers %>
  <tr>
    <td><%= burger.name %></td>
    <td><%= burger.restaurant.name %></td>
  </tr>
  <% end %>
</table>