<div class="Homepage">
<h1>Burgers</h1>
<table align='center'>
  <tr>
    <th>Name</th>
    <th>Restaurant</th>
  </tr>
  <% for burger in @burgers %>
  <tr>
    <td><%= burger.name %></td>
    <td><%= burger.restaurant.name %></td>
  </tr>
  <% end %>
</table>
<a href="/burgers/new">Add A New Burger~</a>
</div>