<h2>Add New Burger</h2>
<form method="POST" action="/burgers">
  
  <label for="name">Burger Name:</label>
  <input type="text" name="name" id="name">

  <label for="restaurant_select">Select Restaurant:</label>
  <select name="restaurant_id" id="restaurants.select">
  <% @restaurants.each do |restaurant| %>
    <option value=<%= restaurant.id %>><%= restaurant.name.upcase %></option>
    <% end %>
  </select>

<input type="submit" name="Create Burger">
</form>