<h1>Restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <% for restaurant in @restaurants %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.address %></td>
  </tr>
  <% end %>
</table>

<div>
  <% @restaurants.each do |restaurant| %>
  <div>
    <p>Name: <%= restaurant.name %></p>
    <p>Address: <% restaurant.address %></p>
    <p>Burgers: <% restaurant.burgers.each do |burger|%>
       <ul>
         <li><%=burger.name %></li>
       </ul>       
      <% end %>
    </p>
  </div>
<hr>
  <% end %>
</div>